.header {
  display: flex;
  background-color: #1f2937;
  padding: 100px;
}

.header-logo {
  font-size: 18px;
  color: #f9faf8;
  display: flex;
}

.list {
  font-size: 18px;
  color: #f9faf8;
  display: flex;
}
s .hero {
  display: flex;
  align-items: flex-end;
}

.sign {
  display: flex;
}

.imgs {
  display: flex;
}
